@inherits LayoutComponentBase

<PageTitle>Randomly.Blazor</PageTitle>

<div class="page" style="margin-top:10px;margin-bottom:10px">
    
    <main>
       
        <article class="grid-container">
            @Body
        </article>
    </main>
</div>
